@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 3px; /* Set a thin width */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Set a semi-transparent thumb color */
  border-radius: 6px; /* Add rounded corners for a smoother look */

}
.table thead{
	background: #10417B;
	color: #ffffff;
       position: sticky;
}
.table-amortization thead{
	background: #10417B;
	color: #ffffff;
 margin: 0;
   position: sticky;
   top: 0;
}


tr {
   height: 45px;
   font-size: 15px;
}

input:focus{

  outline: 2px solid rgb(59 ,130 ,246);
}
input:active{

  outline: 2px solid rgb(59 ,130 ,246);
}


.table-account thead th {
	color: #ffffff;
	background: #10417B;
        border: 0.009px solid #aadddd;
}


.table-account tbody tr:nth-child(odd) {
	background: #ffffff;
      border: 1px solid #F2F5FA;
}
.table-account tbody tr:nth-child(even) {
	background: #F2F5FA;
      border: 2px solid #F2F5FA;
}

.table tbody tr:nth-child(odd) {
	background: #ffffff;
}
.table tbody tr:nth-child(even) {
	background: #F2F5FA;
}

body {
   height: 100vh;
   background-color: rgb(248 250 251 /1);
}

.account-table tbody tr:nth-child(odd) {
	background: #ffffff ;
}
.account-table tbody tr:nth-child(even) {
	background: #F2F5FA ;
}


.selected {
  background-color: #FFECDF !important;
}

.account-table table {
  border-spacing: 0;
  font-family: arial, sans-serif;
  table-layout: fixed;
  width: 100%;
}

.account-table thead {
   background: #10417B;
   color: #ffffff;
   margin: 0;
   position: sticky;
   top: 0;
}




